<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yiking.blog.mapper.CommentsMapper">

    <insert id="addComments" parameterType="com.yiking.blog.entities.Comments" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO comments SET aid=#{aid},uid=#{uid},content=#{content},publishDate=#{publishDate},replyname=#{replyName},isread=#{isRead},parentId=#{parentId}
    </insert>

    <select id="getCommentsByAid" resultMap="BaseResultMap">
        SELECT * FROM comments WHERE aid=#{aid}
    </select>
    <select id="getCommentsByParentId" resultType="com.yiking.blog.entities.Comments">
 SELECT * FROM comments WHERE parentId=#{parentid} AND isread=#{isread}
 </select>
    <select id="getCommentsByReplyName" resultType="com.yiking.blog.entities.Comments">
        SELECT * FROM  comments WHERE replyName=#{replyname}AND isread=#{isread}
    </select>
    <resultMap id="BaseResultMap" type="com.yiking.blog.entities.Comments">
        <id column="id" property="id"/>
        <result column="uid" property="uid"/>
        <result column="aid" property="aid"/>
        <result column="isread" property="isRead"/>
        <result column="publishDate" property="publishDate"/>
        <result column="replyname" property="replyName"/>
        <result column="content" property="content"/>
        <result column="parentId" property="parentId"/>
    </resultMap>
    <update id="updateComments">
 UPDATE comments SET isread=0 WHERE  aid=#{aid} AND isread=1</update>
    <update id="updateReply">
 UPDATE comments SET isread=0 WHERE replyname=#{username} AND aid=#{aid} </update>
</mapper>